.about {
    .button{
        height: 4em;
        width: 7em;
        text-align: center;
        line-height:3em;
        font-size:14px;
        color:#666;
    }
    .button:hover{
        transform: translateY(-1px);
    }
  .person {
    height: 400px;
    width: 400px;
    // border: 1px solid red;
    position: relative;
    margin: 30px auto;
    @media screen  and (max-width:768px){
        margin-left: 100px;
        margin-top: 0px;
   }
    .person-btn,
    .person-address {
      position: absolute;
      height: 90px;
      width: 90px;
      left: 200px;
      top: 200px;
      margin: -45px 0 0 -45px;
      background-color: red;
      color: #fff;
      font: bold 18px/18px '微软雅黑', Arial, Helvetica, sans-serif;
      border-radius: 50%;
      text-align: center;
    }
    .person-address {
      display: block;
      line-height: 90px;
    }
    .person-btn {
      height: 120px;
      width: 120px;
      margin: -60px 0 0 -60px;
      line-height: 120px;
      z-index: 10;
    }
    .person-address-1,
    .person-address-2,
    .person-address-3,
    .person-address-4,
    .person-address-5,
    .person-address-6 {
      transition: all 0.5s ease-in 0s;
    }
  }
  .person:hover .person-address-1 {
    transform: translateY(-150px);
  }

  .person:hover .person-address-2 {
    transform: translate(130px, -75px);
  }

  .person:hover .person-address-3 {
    transform: translate(130px, 75px);
  }
  .person:hover .person-address-4 {
    transform: translateY(150px);
  }
  .person:hover .person-address-5 {
    transform: translate(-130px, 75px);
  }

  .person:hover .person-address-6 {
    transform: translate(-130px, -75px);
  }
}
