h3{
    text-align: center;
}  

.table{
    min-width: 555px;
    thead{
        tr {
            th{
                text-align: center;
            }
        }
    }
    td{
        // padding-left:100px;
        text-align: center;

    }
}